#!/bin/bash

#SBATCH -A CS381V-Visual-Recogn
#SBATCH -n 20
#SBATCH -N 1
#SBATCH -p gpu
#SBATCH --time=0:15:00 
#SBATCH --error=/home/04009/abhi23/caffe/logs/createlmdb.err 
#SBATCH --output=/home/04009/abhi23/caffe/logs/createlmdb.out
#SBATCH --job-name=createlmdb
#SBATCH --mail-user=abhishek.4096@gmail.com
#SBATCH --mail-type=all


echo "\n\nStarting create lmdb\n\n"

echo job $JOB_ID execution at: `date`
NODE_HOSTNAME=`hostname -s`
echo "running on node $NODE_HOSTNAME"

# Forward Model Test
# NOTE : Remove -t if you want to run on validation set.
./examples/imagenet/create_imagenet.sh
